<div class="account">
  <fieldset>
    {{form-field name="iban" value=iban label="IBAN"}}
    {{form-field name="bic" value=bic label="BIC"}}
    <div class="form-group">
      <div class="col-md-offset-4 col-md-8">
        <button type="button" class="btn btn-default account__remove">
          <span class="glyphicon glyphicon-remove"></span>
          Delete account
        </button>
      </div>
    </div>
  </fieldset>
  <hr>
</div>
