<div class="modal-header">
  <h4 class="modal-title">Personal information</h4>
</div>
<div class="modal-body form-horizontal">
  {{form-field name="firstName" label="First name" value=firstName}}
  {{form-field name="lastName" label="Last name" value=lastName}}
  <div class="form-group">
    <div class="col-md-4">
      <div class="control-label">
        <label for="personal-dob">Date of birth</label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="input-group date">
        <input type="text" class="form-control" placeholder="dd/mm/yy" required name="dob" value="{{dob}}">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary personal__submit">Next step</button>
</div>
