<div class="form-group">
  <div class="col-md-4">
    <div class="control-label">
      <label for="{{name}}">{{label}}</label>
    </div>
  </div>
  <div class="col-md-8">
    <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" required value="{{value}}">
    <span class="help-block"></span>
  </div>
</div>
