<div class="modal-header">
  <h4 class="modal-title">Bank accounts</h4>
</div>
<div class="modal-body form-horizontal">
  <p class="text-muted accounts__empty">You haven't added any accounts</p>
  <div class="accounts__items"></div>
  <div class="form-group">
    <div class="col-md-12">
      <button type="button" class="btn btn-default accounts__add">Add account</button>
      <span class="text-danger accounts__min-text" hidden>At least one bank account is required</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="pull-left btn btn-default accounts__previous">Back</button>
  <button type="submit" class="btn btn-primary accounts__submit">Save</button>
</div>
