<div class="form-group">
  <div class="col-md-4">
    <div class="control-label">
      <label for="personal-last-name">Last name</label>
    </div>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" id="personal-last-name" name="lastName" required value="{{lastName}}">
  </div>
</div>
